.ellipsis-loading {
}

.ellipsis-loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2s infinite;
  animation: ellipsis steps(4, end) 2s infinite;
  content: "..."; /* ascii code for the ellipsis character */
  width: 0em;
}

@keyframes ellipsis {
  to {
    width: 2.2em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 2.2em;
  }
}
